# Бинарники (скомпилированные файлы)
*.exe
*.exe~
*.dll
*.so
*.dylib
myapi

# Тесты (файлы, созданные при тестировании)
*.test

# Покрытие кода (файлы coverage)
*.out

# Зависимости (если используешь vendor)
vendor/

# IDE (файлы редакторов)
.idea/
.vscode/
*.swp
*.swo

# Окружение (секреты)
.env

# Логи
*.log

# ОС
.DS_Store

# Временные файлы
tmp/
bin/