# Бинарники (скомпилированные файлы)
*.exe
*.exe~
*.dll
*.so
*.dylib
myapi

# Тесты (файлы, созданные при тестировании)
*.test

# Покрытие кода (файлы coverage)
# ловит все файлы с расширением .out, включая coverage.out
*.out
coverage
coverage.html

# Зависимости (если используешь vendor)
vendor/

# IDE (файлы редакторов)
.idea/
.vscode/
*.swp
*.swo

# Окружение (секреты)
.env

# Логи
*.log

# ОС
.DS_Store

# Временные файлы
tmp/
bin/

# Личные заметки
NOTES.md

# Конфиги (личные настройки)
config.json
config2.json
*.local.json

*.pem